@page
@model ThAmCo.Events.Pages.EventList.AddStaffModel

@{
    ViewData["Title"] = "Add Staff";
}

<h1>Add Staff</h1>

<p>
    <a asp-page="./Index">Back to Event List</a>
</p>

<!-- Create a form to select a staff member -->
<form method="post">
    <div class="form-group">
        <label for="StaffId">Select a Staff Member:</label>
        <select asp-for="Staff.StaffId" asp-items="Model.StaffList" class="form-control">
            <option value="">-- Select a Staff Member --</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    <div>
</form>
<div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}