@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At HM Bookings, your privacy is important to us. This notice explains how we collect, use, and protect your personal information when you use our website.
</p>
</p>
    1. Information We Collect:
   </p>
   </p>
    Personal Details: Name, email, phone, and billing info for bookings.
    Booking Information: Event details, dates, and payment data.
    Usage Data: IP address, browser type, and interactions with our website, collected via cookies.
  </p>
  </p>
    2. How We Use Your Information
    </p>
    </p>
    Process and manage bookings.
    Improve website functionality and user experience.
    Send booking confirmations and promotional offers (if subscribed).
    Comply with legal requirements.
</p>
